 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("2caae017a61202f87bc36fab57e85a63.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 639px;
}

.u-section-1 .u-group-1 {
  width: 696px;
  min-height: 531px;
  margin: 88px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 142px 20px 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0 20px 0 0;
}

.u-section-1 .u-line-1 {
  width: 311px;
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 30px 192px 0 0;
}

.u-section-1 .u-image-1 {
  width: 348px;
  height: 571px;
  margin: -551px 39px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 348px;
  height: 571px;
  margin: -684px auto 60px -773px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-1 .u-group-1 {
    width: 620px;
    position: relative;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-1 .u-line-1 {
    width: 80px;
    position: relative;
  }

  .u-section-1 .u-text-3 {
    position: relative;
    margin-right: 158px;
  }

  .u-section-1 .u-image-1 {
    width: 287px;
    height: 474px;
    position: relative;
    margin-right: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 440px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-1 .u-line-1 {
    width: 61px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 121px;
  }

  .u-section-1 .u-image-1 {
    width: 289px;
    margin-top: 20px;
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-group-1 {
    width: 412px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 9px;
  }

  .u-section-1 .u-line-1 {
    width: 57px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 91px;
  }

  .u-section-1 .u-image-1 {
    width: 206px;
    height: 341px;
    margin-right: auto;
    margin-left: 334px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-1 .u-group-1 {
    min-height: 535px;
    margin-top: -30px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-1 .u-line-1 {
    width: 328px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 57px;
  }

  .u-section-1 .u-image-1 {
    width: 173px;
    margin-right: 12px;
    margin-left: 100px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 45px auto 45px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 410px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 45px 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 900;
  margin: 15px 20px 0 0;
}

.u-section-2 .u-line-1 {
  width: 77px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 30px 20px 40px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 410px;
}

.u-section-2 .u-text-4 {
  margin: 0 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-line-1 {
    width: 64px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-2 .u-line-1 {
    width: 49px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-2 .u-line-1 {
    width: 46px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-2 .u-line-1 {
    width: 332px;
    transform-origin: left center;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: 6px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  min-height: 312px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero-bg.jpg");
  min-height: 318px;
  background-position: 50% 50%;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 121px 20px 0;
}

.u-section-3 .u-line-1 {
  width: 79px;
  transform-origin: left center;
  transform: rotate(360deg);
  margin: 0 auto 0 20px;
}

.u-section-3 .u-text-2 {
  margin: 27px 20px 0;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("457883519366bc77e9ffb4294b44f8df.png");
  min-height: 318px;
  background-position: 50% 50%;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 130px 20px 0;
}

.u-section-3 .u-line-2 {
  width: 79px;
  transform-origin: left center;
  transform: rotate(360deg);
  margin: 20px auto 0 20px;
}

.u-section-3 .u-text-4 {
  margin: 27px 20px 0;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("35970472e6f88da51190947c84ba6f2a.png");
  min-height: 312px;
  background-position: 50% 50%;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 30px 20px 0;
}

.u-section-3 .u-line-3 {
  width: 79px;
  position: relative;
  transform-origin: left center 0px;
  transform: rotate(359.994deg);
  margin: 17px auto 0 20px;
}

.u-section-3 .u-text-6 {
  margin: 17px 20px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 312px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    font-size: 1.25rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-line-1 {
    width: 65px;
    position: relative;
    margin-left: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-image-2 {
    min-height: 312px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    font-size: 1.25rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-line-2 {
    width: 65px;
    position: relative;
    margin-left: 16px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-5 {
    position: relative;
    font-size: 1.25rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-line-3 {
    width: 65px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-line-1 {
    width: 50px;
    margin-top: 20px;
    margin-left: 13px;
    margin-bottom: initial;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-line-2 {
    width: 50px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-line-3 {
    width: 50px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-line-1 {
    width: 47px;
    margin-left: 9px;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-line-2 {
    width: 47px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-line-3 {
    width: 47px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-line-1 {
    width: 39px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-line-2 {
    width: 39px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-line-3 {
    width: 39px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 681px;
}

.u-section-4 .u-group-1 {
  width: 817px;
  min-height: 164px;
  margin: 38px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 15px 20px 0;
}

.u-section-4 .u-text-2 {
  font-weight: 900;
  margin: 20px 20px 0;
}

.u-section-4 .u-line-1 {
  width: 74px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 15px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 33px auto 45px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 204px;
  background-position: 0% 0%;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  border-radius: 10px;
  margin: 38px auto 0 20px;
  padding: 12px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -64px 45px 0 104px;
}

.u-section-4 .u-text-4 {
  margin: 13px 45px 20px 104px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 204px;
  background-position: 0% 0%;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  border-radius: 10px;
  margin: 38px auto 0 20px;
  padding: 12px;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: -64px 45px 0 104px;
}

.u-section-4 .u-text-6 {
  margin: 13px 45px 20px 104px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 204px;
  background-position: 0% 0%;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  border-radius: 10px;
  margin: 38px auto 0 20px;
  padding: 12px;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: -64px 45px 0 104px;
}

.u-section-4 .u-text-8 {
  margin: 13px 45px 20px 104px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 197px;
  background-position: 0% 0%;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  border-radius: 10px;
  margin: 38px auto 0 20px;
  padding: 12px;
}

.u-section-4 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -64px 13px 0 104px;
}

.u-section-4 .u-text-10 {
  margin: 13px 45px 20px 104px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 274px;
  background-position: 0% 0%;
}

.u-section-4 .u-icon-5 {
  height: 64px;
  width: 64px;
  border-radius: 10px;
  margin: 38px auto 0 20px;
  padding: 12px;
}

.u-section-4 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: -64px 21px 0 104px;
}

.u-section-4 .u-text-12 {
  margin: 13px 45px 0 104px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 197px;
  background-position: 0% 0%;
}

.u-section-4 .u-icon-6 {
  height: 64px;
  width: 64px;
  border-radius: 10px;
  margin: 38px auto 0 20px;
  padding: 12px;
}

.u-section-4 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -64px 0 0 104px;
}

.u-section-4 .u-text-14 {
  margin: 13px 45px 20px 104px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 674px;
    position: relative;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-line-1 {
    width: 61px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-icon-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    margin-right: 37px;
    margin-left: 86px;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    margin-right: 37px;
    margin-left: 86px;
  }

  .u-section-4 .u-icon-2 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-4 .u-text-5 {
    position: relative;
    margin-right: 37px;
    margin-left: 86px;
  }

  .u-section-4 .u-text-6 {
    position: relative;
    margin-right: 37px;
    margin-left: 86px;
  }

  .u-section-4 .u-icon-3 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-4 .u-text-7 {
    position: relative;
    margin-right: 37px;
    margin-left: 86px;
  }

  .u-section-4 .u-text-8 {
    position: relative;
    margin-right: 37px;
    margin-left: 86px;
  }

  .u-section-4 .u-icon-4 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-4 .u-text-9 {
    position: relative;
    margin-right: 11px;
    margin-left: 86px;
  }

  .u-section-4 .u-text-10 {
    position: relative;
    margin-right: 37px;
    margin-left: 86px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 197px;
  }

  .u-section-4 .u-icon-5 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-4 .u-text-11 {
    position: relative;
    margin-right: 37px;
    margin-left: 86px;
  }

  .u-section-4 .u-text-12 {
    position: relative;
    margin-right: 37px;
    margin-left: 86px;
  }

  .u-section-4 .u-icon-6 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-4 .u-text-13 {
    position: relative;
    margin-left: 86px;
  }

  .u-section-4 .u-text-14 {
    position: relative;
    margin-right: 37px;
    margin-left: 86px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 516px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-line-1 {
    width: 47px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 15px;
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 15px;
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-4 .u-icon-4 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -66px;
    margin-right: -20px;
    margin-left: 94px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-4 .u-icon-5 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 9px;
    margin-left: 94px;
  }

  .u-section-4 .u-icon-6 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-13 {
    margin-right: -28px;
    margin-left: 94px;
  }

  .u-section-4 .u-text-14 {
    margin-top: 12px;
    margin-right: 0;
    margin-left: 94px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 484px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-line-1 {
    width: 44px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 21px;
    margin-left: 122px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 21px;
    margin-left: 122px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 21px;
    margin-left: 122px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 21px;
    margin-left: 122px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 21px;
    margin-left: 122px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 21px;
    margin-left: 122px;
  }

  .u-section-4 .u-icon-4 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 6px;
    margin-left: 122px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 21px;
    margin-left: 122px;
  }

  .u-section-4 .u-icon-5 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 21px;
    margin-left: 122px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 21px;
    margin-left: 122px;
  }

  .u-section-4 .u-icon-6 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
    margin-left: 122px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 21px;
    margin-left: 122px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-line-1 {
    width: 37px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 13px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 13px;
    margin-left: 90px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 6px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 13px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 13px;
    margin-left: 90px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 6px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 13px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 13px;
    margin-left: 90px;
  }

  .u-section-4 .u-icon-4 {
    margin-left: 6px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 4px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 20px;
    margin-right: 13px;
    margin-left: 90px;
  }

  .u-section-4 .u-icon-5 {
    margin-left: 6px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 13px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 13px;
    margin-left: 90px;
  }

  .u-section-4 .u-icon-6 {
    margin-left: 6px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 90px;
  }

  .u-section-4 .u-text-14 {
    margin-right: 13px;
    margin-left: 90px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("hero-bg.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 269px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1068px;
  margin: 15px 36px 22px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 232px;
}

.u-section-5 .u-text-1 {
  font-weight: 900;
  width: 207px;
  margin: 25px auto 0;
}

.u-section-5 .u-text-2 {
  width: 207px;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-5 .u-line-1 {
  width: 57px;
  position: relative;
  transform-origin: left center 0;
  transform: rotate(0.0173deg);
  margin: 30px auto 25px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 232px;
  background-position: 0% 0%;
}

.u-section-5 .u-text-3 {
  font-weight: 900;
  width: 207px;
  margin: 25px auto 0;
}

.u-section-5 .u-text-4 {
  width: 207px;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-5 .u-line-2 {
  width: 57px;
  position: relative;
  transform-origin: left center 0;
  transform: rotate(0.0173deg);
  margin: 30px auto 25px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 232px;
  background-position: 0% 0%;
}

.u-section-5 .u-text-5 {
  font-weight: 900;
  width: 207px;
  margin: 25px auto 0;
}

.u-section-5 .u-text-6 {
  width: 207px;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-5 .u-line-3 {
  width: 57px;
  position: relative;
  transform-origin: left center 0;
  transform: rotate(0.0173deg);
  margin: 30px auto 25px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 232px;
  background-position: 0% 0%;
}

.u-section-5 .u-text-7 {
  font-weight: 900;
  width: 207px;
  margin: 25px auto 0;
}

.u-section-5 .u-text-8 {
  width: 207px;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-5 .u-line-4 {
  width: 57px;
  position: relative;
  transform-origin: left center 0;
  transform: rotate(0.0173deg);
  margin: 30px auto 25px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    width: 881px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 204px;
  }

  .u-section-5 .u-text-1 {
    width: 171px;
  }

  .u-section-5 .u-text-2 {
    width: 171px;
  }

  .u-section-5 .u-line-1 {
    width: 47px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 204px;
  }

  .u-section-5 .u-text-3 {
    width: 171px;
  }

  .u-section-5 .u-text-4 {
    width: 171px;
  }

  .u-section-5 .u-line-2 {
    width: 47px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 204px;
  }

  .u-section-5 .u-text-5 {
    width: 171px;
  }

  .u-section-5 .u-text-6 {
    width: 171px;
  }

  .u-section-5 .u-line-3 {
    width: 47px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 204px;
  }

  .u-section-5 .u-text-7 {
    width: 171px;
  }

  .u-section-5 .u-text-8 {
    width: 171px;
  }

  .u-section-5 .u-line-4 {
    width: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 675px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    width: 131px;
  }

  .u-section-5 .u-text-2 {
    width: 131px;
  }

  .u-section-5 .u-line-1 {
    width: 36px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    width: 131px;
  }

  .u-section-5 .u-text-4 {
    width: 131px;
  }

  .u-section-5 .u-line-2 {
    width: 36px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-text-5 {
    width: 131px;
  }

  .u-section-5 .u-text-6 {
    width: 131px;
  }

  .u-section-5 .u-line-3 {
    width: 36px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-text-7 {
    width: 131px;
  }

  .u-section-5 .u-text-8 {
    width: 131px;
  }

  .u-section-5 .u-line-4 {
    width: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 506px;
    margin-bottom: 56px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    width: 123px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    width: 123px;
  }

  .u-section-5 .u-line-1 {
    width: 34px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    width: 123px;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    width: 123px;
  }

  .u-section-5 .u-line-2 {
    width: 34px;
  }

  .u-section-5 .u-text-5 {
    position: relative;
    width: 123px;
  }

  .u-section-5 .u-text-6 {
    position: relative;
    width: 123px;
  }

  .u-section-5 .u-line-3 {
    width: 34px;
  }

  .u-section-5 .u-text-7 {
    position: relative;
    width: 123px;
  }

  .u-section-5 .u-text-8 {
    position: relative;
    width: 123px;
  }

  .u-section-5 .u-line-4 {
    width: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 319px;
    margin-bottom: 22px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-5 .u-text-1 {
    width: 103px;
  }

  .u-section-5 .u-text-2 {
    width: 103px;
  }

  .u-section-5 .u-line-1 {
    width: 28px;
  }

  .u-section-5 .u-text-3 {
    width: 103px;
  }

  .u-section-5 .u-text-4 {
    width: 103px;
  }

  .u-section-5 .u-line-2 {
    width: 28px;
  }

  .u-section-5 .u-text-5 {
    width: 103px;
  }

  .u-section-5 .u-text-6 {
    width: 103px;
  }

  .u-section-5 .u-line-3 {
    width: 28px;
  }

  .u-section-5 .u-text-7 {
    width: 103px;
  }

  .u-section-5 .u-text-8 {
    width: 103px;
  }

  .u-section-5 .u-line-4 {
    width: 28px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 47px auto 47px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 433px;
  background-image: url("be60b4bef50944a54eb655fa128f19f5.png");
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-image-1 {
  width: 510px;
  height: 325px;
  margin: 54px auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 433px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 97px 20px 0;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  font-weight: 900;
  margin: 20px 20px 0;
}

.u-section-6 .u-line-1 {
  width: 298px;
  transform-origin: left center;
  margin: 30px auto 0 20px;
}

.u-section-6 .u-text-3 {
  margin: 30px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-6 .u-image-1 {
    width: 421px;
    position: relative;
    margin-top: 67px;
    margin-bottom: 67px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-line-1 {
    width: 60px;
    position: relative;
    margin-left: 16px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 551px;
  }

  .u-section-6 .u-image-1 {
    width: 341px;
    height: 244px;
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 551px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-line-1 {
    width: 46px;
    margin-left: 13px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-6 .u-image-1 {
    width: 302px;
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-line-1 {
    width: 43px;
    margin-left: 9px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: 53px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-line-1 {
    width: 36px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 864px;
}

.u-section-7 .u-group-1 {
  width: 765px;
  min-height: 174px;
  margin: 30px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-text-1 {
  margin: 15px 20px 0;
}

.u-section-7 .u-text-2 {
  font-weight: 900;
  margin: 20px 20px 0;
}

.u-section-7 .u-line-1 {
  width: 60px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 15px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 677px;
}

.u-section-7 .u-image-1 {
  height: 288px;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 30px 20px 0;
}

.u-section-7 .u-text-4 {
  margin: 15px 20px 0;
}

.u-section-7 .u-link-1 {
  text-transform: uppercase;
  padding-bottom: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 30px 20px 50px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 741px;
  background-position: 0% 0%;
}

.u-section-7 .u-image-2 {
  height: 288px;
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 30px 20px 0;
}

.u-section-7 .u-text-6 {
  margin: 20px 20px 0;
}

.u-section-7 .u-link-2 {
  text-transform: uppercase;
  padding-bottom: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 588px;
  background-position: 0% 0%;
}

.u-section-7 .u-image-3 {
  height: 288px;
  margin: 0 auto;
}

.u-section-7 .u-text-7 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 30px 20px 0;
}

.u-section-7 .u-text-8 {
  margin: 10px 20px 0;
}

.u-section-7 .u-link-3 {
  text-transform: uppercase;
  padding-bottom: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 30px 20px 50px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 631px;
    position: relative;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-line-1 {
    width: 49px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 625px;
  }

  .u-section-7 .u-image-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-3 {
    position: relative;
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-link-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 625px;
  }

  .u-section-7 .u-image-2 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-5 {
    position: relative;
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-link-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 625px;
  }

  .u-section-7 .u-image-3 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-7 {
    position: relative;
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-link-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 483px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-line-1 {
    width: 38px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-link-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-link-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-link-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 453px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-line-1 {
    width: 36px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-link-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-link-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-link-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-line-1 {
    width: 30px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-link-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-link-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-link-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 646px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
  position: relative;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 586px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-text-1 {
  margin: 30px 317px 0 30px;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 80px 0 30px;
}

.u-section-8 .u-icon-1 {
  font-size: 1.4em;
}

.u-section-8 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 80px 0 30px;
}

.u-section-8 .u-icon-2 {
  font-size: 1.4em;
}

.u-section-8 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 80px 0 30px;
}

.u-section-8 .u-icon-3 {
  font-size: 1.4em;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 586px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-8 .u-form-1 {
  height: 409px;
  margin: -586px 36px 60px 594px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 483px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 247px;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 0;
    margin-bottom: initial;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 483px;
  }

  .u-section-8 .u-form-1 {
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 137px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-form-1 {
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-form-1 {
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 10px;
  }

  .u-section-8 .u-form-1 {
    margin-top: -117px;
    margin-bottom: 43px;
    margin-right: initial;
    margin-left: initial;
  }
}
